{% extends 'base.html' %}

{% load ratings %}
{% load comments %}

{% block content %}

<div class="container text-center">
    <div class="row">
            <div class="card mb-3 mx-auto" style="max-width: 40rem">
                <img src="{{driver.photo.url}}" class="card-img-top" alt="{{ driver }}">
                <div class="card-body">
                    <h5 class="card-title" align="center">{{ driver }}</h5>
                    <h5 class="card-title" align="center">{{ driver.nationality }} <img class="small-flag" src="{{ driver.get_flag.url}}"></h5>
                    <p>
                        {% for team in driver.team.all %}
                        <a href="{{ team.get_absolute_url }}"><img class="small-team-logo" src="{{ team.logo.url }}"></a>
                        {% endfor %}
                    </p>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">F1 Championships: {{ driver.number_of_championships }} </li>
                      {% if driver.date_of_death %}
                      <li class="list-group-item">Died at the age of {{ driver.get_age }} on {{ driver.date_of_death }}</li>
                      {% else %}
                      <li class="list-group-item">Age: {{ driver.get_age }} </li>
                      {% endif %}
                      {% if driver.active %}
                      <li class="list-group-item">Points this season: {{ driver.total_points|floatformat:"-1" }} 
                        <p><a href="{% url 'driver_classification' %}">
                          <button type="button" class="btn btn-info" href="{% url 'driver_classification' %}">Check classification</button>
                        </a></p>
                      </li>
                      {% endif %}
                      <li class="list-group-item">Total wins in F1: {{ driver.number_of_wins }}</li>
                      <li class="list-group-item">Total F1 races: {{ driver.total_races }}</li>
                      <li class="list-group-item">Total F1 podiums: {{ driver.total_podiums }}</li>
                      <li class="list-group-item">First F1 race date: {{ driver.first_race_date }}</li>
                    </ul>                  
                </div>
            </div>
            {% comment %} <div class="mb-3 mx-auto" style="width: 20rem;">
                {% ratings object %}
            </div> {% endcomment %}
            {% if driver.twitter_handle %}
            <div class="mb-3 mx-auto" style="max-width: 40rem">
            <h3 align="center">Latest tweets</h3>
            <ul class="list-group-flush">
                    {% for tweet in driver.tweet_list %}
                <li class="list-group-item">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <div><br><i><b>{{ tweet.text }}</b></i><br></div>
                    </li>
                    <li class="list-group-item">
                      <div>{{ tweet.created_at }}</div>
                    </li>
                    <li class="list-group-item">
                      <div>
                        <div><b>{{ tweet.public_metrics.retweet_count }}</b> Retweets</div>
                        <div><b>{{ tweet.public_metrics.like_count }}</b> Likes</div>
                      </div>
                    </li>
                  </ul> 
                </li>
                {% endfor %}
              </ul>
            </div>
              {% endif %}
    </div>
</div>
{% get_comment_count for object as comment_count %}
            <div class="py-4 text-center">
                <a href="{% url 'home' %}">Back to the drivers list</a>
                &nbsp;&sdot;&nbsp;
                {{ comment_count }} comment{{ comment_count|pluralize }}
                ha{{ comment_count|pluralize:"s,ve" }} been posted.
            </div>

            {% comment %} {% if object.allow_comments %} {% endcomment %}
            <div class="card card-block mb-5">
              <div class="card-body">
                <h4 class="card-title text-center pb-3">Post your comment</h4>
                  {% render_comment_form for object %}
              </div>
            </div>
            {% comment %} {% endif %} {% endcomment %}

            {% if comment_count %}
            <hr>
            <div class="comments">
                {% render_comment_list for object %}
            </div>
            {% endif %}

{% endblock content%}
