{% extends 'base.html' %}

{% load static %}
{% load ratings %}

{% block content %}


    {% for driver in driver_list_current %}
    {% if forloop.counter0|divisibleby:4 %} <div class="row"> {%  endif %}

    <div class="col-sm-4">
    <div class="card">
        <a href="{{ driver.get_absolute_url }}"><img src="{{driver.photo.url}}" class="img-thumbnail" alt="{{ driver }}"></a>
        <h5 class="card-title" align="center">{{ driver }}</h5>
        <h5 class="card-title" align="center">Nationality: {{ driver.nationality }} <img class="small-flag" src="{{ driver.get_flag.url}}"></h5>
        <h5 class="card-title" align="center">{{ driver.team }}<img class="small-logo" src="{{ driver.get_logo.url }}"></h5>
        <div class="card-footer" align="center">
          <small class="text-muted">F1 Championships: {{ driver.number_of_championships }} </small>
          <p><small class="text-muted">Age: {{ driver.get_age }} </small></p>
        </div>
      </div>
    </div>

    {%  if forloop.counter|divisibleby:4 or forloop.last %}</div><br>{%  endif %}
    {% endfor %}

{% endblock content%}