{% extends 'base.html' %}

{% load static %}
{% load ratings %}

{% block content %}


    {% for driver in driver_list %}
    {% if forloop.counter0|divisibleby:4 %} <div class="row"> {%  endif %}

    <div class="col-sm-4">
    <div class="card">
        <a href="{{ driver.get_absolute_url }}"><img src="{{driver.photo.url}}" class="img-thumbnail" alt="{{ driver }}"></a>
        <h5 class="card-title" align="center">{{ driver }}</h5>
        <h5 class="card-title" align="center">{{ driver.nationality }} <img class="small-flag" src="{{ driver.get_flag.url}}"></h5>
        {% if driver.active %}
        <h5 class="card-title" align="center"><a href="{{ driver.team.get_absolute_url }}"><img class="small-logo" src="{{ driver.get_logo.url }}"></a></h5>
        <h5 class="card-title" align="center"><button type="button" class="btn btn-success">Active</button></h5>
        {% else %}
        <h5 class="card-title" align="center"> Last team: <a href="{{ driver.team.get_absolute_url }}"><img class="small-logo" src="{{ driver.get_logo.url }}"></a></h5>
        <h5 class="card-title" align="center"><button type="button" class="btn btn-danger">Retired</button></button></h5>
        {% endif %}
        <div class="card-footer" align="center">
          <small class="text-muted">F1 Championships: {{ driver.number_of_championships }} </small>
          {% if driver.date_of_death %}
          <p><small class="text-muted">Died at the age of {{ driver.get_age }} on {{ driver.date_of_death }} </small></p>
          {% else %}
          <p><small class="text-muted">Age: {{ driver.get_age }} </small></p>
          {% endif %}
        </div>
      </div>
    </div>

    {%  if forloop.counter|divisibleby:4 or forloop.last %}</div><br>{%  endif %}
    {% endfor %}

{% endblock content%}

