.img-thumbnail {
  object-fit: scale-down;
  height: 200px;
}

.get-date {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

.blog-post {
  width: 75%;
  text-align: justify;
}

.list-view {
  padding: 50px;
}

.small-flag {
  height: 20px;
}

.small-logo {
  height: 40px;
}

.table-photo {
  height: 80px;
}

.small-team-logo {
  height: 35px;
}

.rating {
  margin-top: 200px;
}

.list-img {
  height: 300rem;
  object-fit: scale-down;
}